{% extends "learning_logs/base.html" %}

{% block content %}
    <p>Topic:{{ topic }}</p>
    <P>Entries:</P>
    <P>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a>
    </P>
    <U1>
    {% for entry in entries  %}
        <li>
            <P>{{ entry.date_added|date:'M d,Y H:i' }}</P>
            <P>{{ entry.text|linebreaks }}</P>
            <p>
                <a href="{% url 'learning_logs:edit_entry' entry.id %}">edit entry</a>
            </p>
        </li>
    {% empty %}
        <li>There are no entries for this topic yet.</li>
    {% endfor %}
    </U1>

{% endblock content %}